*{
    margin: 0;
    padding: 0;
    font-family: 'poppins',sans-serif;
    box-sizing: border-box;
}

.container{
    width: 100%;
    height: 100vh;
    background-color: #cce3ec;
    display: flex;
    align-items: center;
    justify-content: center;
}

.calculator{
    background-color: #374857;
    padding: 20px;
    border-radius: 10px;
}

.calculator form input{
    border: 0;
    outline: 0;
    width: 80px;
    height: 80px;
    box-shadow: -5px -5px 15px rgba(6, 12, 16, 0.575), 12px 15px 15px rgba(29, 37, 50, 0.825);
    background: transparent;
    border-radius: 10px;
    font-size: 20px;
    color: white;
    cursor: pointer;
    margin: 10px;
}

form .display{
    display: flex;
    justify-content: flex-end;
    margin: 20px 0;
}

form .display input{
    background-color: black;
    padding: 10px;
    text-align: right;
    flex: 1;
    font-size: 45px;
    box-shadow: none;
}

form input.equal{
    width: 185px;
}

form input.ope{
    color: aquamarine;
}